


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#navbar{
    display: flex; 
    border-bottom: 1px solid gray;
    justify-content: space-between;
    padding-left: 2%;
    
}

div#navbar-left{
    /*width: 50%;*/
    float: left;   
       
}

div#navbar-right{
    /*width: 50%;*/
    float: right;
    display: flex; 

}


div#navbar-Instagram{
    float:right;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

}

div#navbar-Linkedin{
    float:right;    
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

}


p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    align-items: center;
}


@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
